# Data science tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> objectives </b>
<ul>
    <li>list popular languages for data science</li
    <li>list popular languages for data science</li>
    <li>list popular languages for data science</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>pyhton</li>
    <li>SQL</li>
    <li>Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>pan</li>
    <li>Matplotlib</li>
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>visual studio code</td>
  </tr>
    <tr>
    <td>git</td>
    </tr>
    <tr>
    <td>eclipse</td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Rebeka Frattolin